<template>
  <div id="app" class="container-fluid">
    <h1><router-link to="/">Jänkäsusilaskuri</router-link></h1>
    <router-link to="/uusi-suoritus">Lähetä uusi suoritus</router-link>
    <hr>
    <transition name="slide">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  created() {
    this.$store.dispatch("settings/getSettings");
    this.$store.dispatch("groups/getEventData");
  }
};
</script>