<template>
<div class="groups-container">
  <div class="card-deck col-md-6 mx-auto my-1">
  <GroupContainer v-bind:group="firstGroup" v-bind:first="true"/>
  </div>
  <div class="card-deck mx-1 my-1">
  <GroupContainer v-for="group in otherGroups" v-bind:group="group" :key="group.group"/>
  </div>
  <hr/>
  <GroupContainer v-if="othersGroup" v-bind:group="othersGroup" v-bind:others="true" />
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import GroupContainer from './GroupContainer.vue'
export default {
  computed: mapState({
    firstGroup: state => state.groups.groupStats && state.groups.groupStats[0] ||{},
    otherGroups: state => state.groups.groupStats && state.groups.groupStats.filter(g => g.group != 'Muut').slice(1),
    othersGroup: state => state.groups.groupStats && state.groups.groupStats.filter(g => g.group == 'Muut')[0] || false,
    events: state => state.groups.events
  }),
  components: {GroupContainer}
}
</script>