<template>
  <div class="group-container card">
    <div class="card-body">
      <h3 class="card-title">{{group.group}}</h3><!--
      <table class="table table-sm" style="font-sieze:12px">
          <tr><th>Merkintöjä:</th><td>{{group.numEvents}}</td><th>Maastoöitä:</th><td>{{group.outdoorNights}}</td></tr>
          <tr><th colspan="4">Jänkäsusia</th></tr>
          <tr><th>III</th><td>{{group.jslk3}}</td><th>II</th><td>{{group.jslk2}}</td><th>I</th><td>{{group.jslk1}}</td><th>E</th><td>{{group.jse}}</td></tr>
      </table>
      -->

      <table class="table table-sm table-striped table-bordered">
          <thead>
          <tr><th colspan="2">&nbsp;</th><th colspan="4">Jänkäsusi</th></tr>
          <tr><th>Nimi</th><th>Maastoyöt</th><th>III</th><th>II</th><th>I</th><th>E</th></tr>
          </thead>
          <tbody>
              <tr v-for="scout in scouts" :key="scout.nimi">
                  <td><router-link :to="{name:'scout',params:{vartio:group.group,scout:scout.nimi}}">{{scout.nimi}}</router-link></td>
                  <td>{{scout.outdoorNights}}</td>
                  <td><span v-if="scout.jslk3">x</span></td>
                  <td><span v-if="scout.jslk2">x</span></td>
                  <td><span v-if="scout.jslk1">x</span></td>
                  <td><span v-if="scout.jse">x</span></td>
              </tr>
            </tbody>
            <tfoot>
              <tr >
                  <td><strong>Yhteensä:</strong></td>
                  <td>{{group.outdoorNights}}</td>
                  <td>{{group.jslk3}}</td>
                  <td>{{group.jslk2}}</td>
                  <td>{{group.jslk1}}</td>
                  <td>{{group.jse}}</td>
              </tr>                
            </tfoot>
      </table>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    props: ["group","first","others"],
    computed: {
        scouts: function() {
            return this.$store.state.groups.scoutsByGroup[this.group.group]
        }
    }
};
</script>