<template>
  <div>
    <h2>Lisää uusi suoritus</h2>
    <form id="createEventForm" v-on:submit.prevent="createNewEvent" novalidate>
      <div class="form-group">
        <label for="nameInput">Nimi:</label>
        <vue-simple-suggest v-model="newEvent.nimi" :list="nameSuggestions" :styles="autoCompleteStyle" :destyled=true
          :filter-by-query="true" name="namesuggest">
          <input v-model="newEvent.nimi" class="form-control" required>
          <div class="invalid-feedback">
            Nimi on pakollinen tieto
          </div>
        </vue-simple-suggest>
      </div>
      <div class="form-group">
        <label for="groupInput">Vartio:</label>
        <select id="groupInput" class="custom-select" v-model="newEvent.vartio" required>
          <option v-for="gs in groupsSuggestions" v-bind:value="gs" v-bind:key="gs">
            {{ gs }}
          </option>
        </select>
        <div class="invalid-feedback">
          Valitse vartio
        </div>
      </div>
      <div class="form-group">
        <label for="eventNameInput">Tapahtuma:</label><input type="text" class="form-control" id="eventNameInput"
          v-model="newEvent.tapahtuma" placeholder="Tapahtuma" required />
        <div class="invalid-feedback">
          Tapahtuman nimi on pakollinen tieto
        </div>
      </div>
      <div class="form-group">
        <label for="eventTypeInput">Tapahtuman tyyppi:</label><select id="eventTypeInput" class="custom-select" v-model="newEvent.tapahtumatyyppi"
          required>
          <option v-for="et in eventTypes" v-bind:value="et" v-bind:key="et">
            {{ et }}
          </option>
        </select>
        <div class="invalid-feedback">
          Valitse tapahtuman tyyppi
        </div>
      </div>
      <div class="form-group">
        <label for="dateInput">Päivämäärä:</label>
        <datepicker id="dateInput" :bootstrap-styling="true" v-model="newEvent.pvm" format="yyyy-MM-dd" :required=true
          @input="validateDateInput"></datepicker>
        <div class="text-danger" v-if="dateError">
          <small>Päivämäärä on pakollinen tieto</small>
        </div>
      </div>
      <div class="form-group">
        <label for="nightsInput"> Maastoöiden määrä:</label><input type="number" id="nightsInput" class="form-control"
          v-model="newEvent.maastoyot" placeholder="Maastoöiden määrä" required min="0" />
        <div class="invalid-feedback">
          Maastoöiden määrä on pakollinen tieto
        </div>
      </div>

      <input type="submit" value="Lisää suoritus listalle" />
    </form>
  </div>
</template>

<style>
  .suggestions {
    z-index: 50;
    position: absolute;
  }
</style>

<script>
  import VueSimpleSuggest from "vue-simple-suggest";
  import Datepicker from "vuejs-datepicker";
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    data() {
      return {
        newEvent: {},
        dateError: false,
        autoCompleteStyle: {
          vueSimpleSuggest: "position-relative",
          inputWrapper: "",
          defaultInput: "form-control",
          suggestions: "suggestions",
          suggestItem: "list-group-item"
        }
      };
    },
    computed: mapState({
      groupsSuggestions: state => state.settings.groups,
      eventTypes: state => state.settings.eventtypes,
      nameSuggestions: state => state.groups.nameSuggestions,
      formData(state) {
        return JSON.stringify(this.newEvent, null, 4);
      }
    }),
    methods: {
      createNewEvent() {
        console.log(JSON.stringify(this.newEvent));

        if (!document.getElementById("createEventForm").checkValidity()) {
          document.getElementById("createEventForm").classList.add('was-validated')
          return false;
        }
        document.getElementById("createEventForm").classList.add('was-validated')

        if (!this.validateDateInput(this.newEvent.pvm)) {
          return false;
        }

        fetch(
            "https://script.google.com/macros/s/AKfycbw6FQH7kQ9SLaXQOd_adaVk-wJ4voPuBeKPIPSaXBMy5CsvXIhH/exec", {
              method: "POST",
              body: JSON.stringify(this.newEvent),
              credentials: "omit"
            }
          )
          .then(res => res.json())
          .then(response => {
            console.log("response", response);
            if (response.result === "success") {
              this.$toasted.show("Suoritus tallennettu!");
              this.newEvent = {};
              this.$store.dispatch("groups/getEventData");
            } else if (response.result === "error") {
              this.$toasted.show(response.error);
            }
          })
          .catch(error => console.error("Error:", error));
      },
      validateDateInput(e) {
        console.log('validateDateInput', e, !!e);
        if (!e) {
          this.dateError = true
          document.getElementById("dateInput").setCustomValidity("Täytä myös päivämäärä!")
          return false
        }
        this.dateError = false
        return true
      }
    },
    components: {
      VueSimpleSuggest,
      Datepicker
    }
  };
</script>