<template>
  <div v-if="scoutEvents">
      <h3>{{scoutLastEvent.nimi}} // {{scoutLastEvent.cumulative.lastGroup}}</h3>
      <table class="table table-sm table-bordered">
          <tr><td><strong>Maastoöitä: </strong>{{scoutLastEvent.cumulative.outdoorNights}}</td><td><strong>Tapahtumia:</strong> {{scoutLastEvent.cumulative.numEvents}}</td></tr>
          <tr><td colspan="4"><strong>Jänkäsusi suoritus:</strong> {{scoutLastEvent.cumulative.js}}</td></tr>
      </table>
      <table class="table table-sm table-bordered">
          <tr><th :colspan="eventTypes.length">Tapahtumakertoja</th></tr>
          <tr><template v-for="et in eventTypes"><th :key="et+'th'">{{et}}</th></template></tr>
          <tr><template v-for="et in eventTypes"><td :key="et+'td'">{{scoutLastEvent.cumulative.eventTypeCounts[et] || 0}}</td></template></tr>
      </table>
      <h4>Tapahtumat</h4>
      <table class="table table-sm table-bordered table-striped">
          <tr>
              <th>Päivämäärä</th>
              <th>Tapahtuma</th>
              <th>Tyyppi</th>
              <th>Maastoyöt</th>
              <th>Maastoyöt (kuml.)</th>
              <th>Jänkäsusi</th>
          </tr>
          <tr v-for="e in scoutEvents" :key="e.Timestamp">
              <td>{{e.pvm.split('T')[0]}}</td>
              <td>{{e.tapahtuma}}</td>
              <td>{{e.tapahtumatyyppi}}</td>
              <td>{{e.maastoyot}}</td>
              <td>{{e.cumulative.outdoorNights}}</td>
              <td>
                  <span v-if="e.cumulative.jse === true">Erikoisjänkäsusi</span>
                  <span v-else-if="e.cumulative.jslk1 === true">I luokka</span>
                  <span v-else-if="e.cumulative.jslk2 === true">II luokka</span>
                  <span v-else-if="e.cumulative.jslk3 === true">III luokka</span>
              </td>
          </tr>
      </table>
  </div>
  <h3 v-else>Tietoja ei löydy</h3>
</template>

<script>
export default {
  computed: {
      eventTypes: function() {
          return this.$store.state.settings.eventtypes
      },
      scoutLastEvent: function() {
          return this.scoutEvents ? this.scoutEvents[this.scoutEvents.length-1] : {}
          
      },
      scoutEvents: function () {
          console.log('scoutEvents',this.$route,this.$store.state.groups)
          const scoutEvents = this.$store.state.groups.eventsByName[this.$route.params.scout]
          if (!scoutEvents) return false
          if (!scoutEvents[0]) return false
          if (!scoutEvents[0].cumulative) return false
          if (scoutEvents[0].cumulative.lastGroup === this.$route.params.vartio) {
              return scoutEvents
          } else {
              return false
          }
      }
  }
}
</script>